html {font-family: "Lora", serif;}

header,footer {
  background-color: gold;
  margin: -20px -32px 0px -32px;
  padding: 1px 28px 0px 28px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  color: white;
  font-weight: 200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
footer,.phrase{margin: 0px -32px 0px -32px;
  color:black
}
.phrase{text-align: center;
display:block}
.navigation {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navigation a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

.donate-btn {
  background-color: white;
  color: black;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 900;
}

.circle-img {
  margin: 30px 20px 0 0;
  border-radius: 50%;
  border: 7px solid #fff;
  width: 120px;
  height: 120px;
}

.card {
  background-color: gold;
  border-radius: 16px;
  padding: 20px 20px 20px 0px;
  margin: 15px 15px 15px 0px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(41, 39, 39, 0.1);
  width: 250px;
}

.card img {
  margin: 0 auto 15px;
  display: block;
}

.card span {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 10px;
}

.card dd {
  margin-top: 10px;
  font-size: 0.95rem;
  color: #555;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
